<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all user top tracks
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new user top track
    </h2>

    <form action="/insert_user_top_track" method="post">
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="track_title_box">
          Track title
        </label>

        <input type="text" id="track_title_box" name="track_title_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="track_artist_box">
          Track artist
        </label>

        <input type="text" id="track_artist_box" name="track_artist_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="track_preview_url_box">
          Track preview url
        </label>

        <input type="text" id="track_preview_url_box" name="track_preview_url_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create user top track
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Track title
        </th>

        <th>
          Track artist
        </th>

        <th>
          Track preview url
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @user_top_tracks.each do |user_top_track| %>
      <tr>
        <td>
          <%= user_top_track.id %>
        </td>

        <td>
          <%= user_top_track.user_id %>
        </td>

        <td>
          <%= user_top_track.track_title %>
        </td>

        <td>
          <%= user_top_track.track_artist %>
        </td>

        <td>
          <%= user_top_track.track_preview_url %>
        </td>

        <td>
          <%= time_ago_in_words(user_top_track.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(user_top_track.updated_at) %> ago
        </td>

        <td>
          <a href="/user_top_tracks/<%= user_top_track.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
