<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Friend #<%= @friend.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/friends" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_friend/<%= @friend.id %>" class="btn btn-block btn-outline-secondary">
          Delete friend
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @friend.user_id %>
      </dd>

      <dt>
        Friend
      </dt>
      <dd>
        <%= @friend.friend_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit friend
    </h2>

    <form action="/modify_friend/<%= @friend.id %>"  method="post" >
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control" value="<%= @friend.user_id %>">
      </div>

      <div class="form-group">
        <label for="friend_id_box">
          Friend
        </label>

        <input type="text" id="friend_id_box" name="friend_id_from_query" class="form-control" value="<%= @friend.friend_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update friend
      </button>
    </form>
  </div>
</div>

<hr>
