<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

    <% if @current_user != nil %>
      <% username_string = @current_user.username.to_s %>
      <% user_url_string = "/users/" %>
      <% user_url_string.concat(username_string) %>
    <% else %>
      <% user_url_string = "/sign_in" %>
    <% end %>

<div class="d-flex bd-highlight">
  <div>
    <div class="btn-group">
      <a href="/sign_up" class="button btn btn-primary btn-sm" role="button">Sign Up</a>
      <a href="/sign_out" class="button btn btn-primary btn-sm" role="button">Sign Out</a>
      <a href="/sign_in" class="button btn btn-primary btn-sm" role="button">Sign In</a>
      <a href="/users" class="button btn btn-primary btn-sm" role="button">All Users</a>
    </div>
  </div>
  <div class="ml-auto">
    <% if @current_user != nil %>
    <a href= <%= user_url_string %> class="button btn btn-primary btn-sm" role="button"> Signed In As <%= username_string.capitalize %> </a>
    <% else %>
    <a href= <%= user_url_string %> class="button btn btn-primary btn-sm" role="button"> You Are Not Signed In </a>
    <% end %>
  </div>
</div>


  <body>
    <nav>
    </nav>
    <%= yield %>
  </body>
</html>


