<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

<div class="btn-group">
  <a href="/sign_up" class="button btn btn-primary btn-sm" role="button">Sign Up</a>
  <a href="/sign_out" class="button btn btn-primary btn-sm" role="button">Sign Out</a>
  <a href="/sign_in" class="button btn btn-primary btn-sm" role="button">Sign In</a>
</div>

  <body>
    <nav>

      

    </nav>
    <%= yield %>
  </body>
</html>


